.tabs__list {
    display: flex;
    height: 2rem;
    border-bottom: 1px solid #ccc;
}

.tabs__list__item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    user-select: none;
}

.tabs__list__item:hover {
    color: rgba(0, 0, 0, 0.6);
}

.tabs__list__item.tabs__list__item--active {
    box-shadow: 0 2px 0 0 lightseagreen;
    color: rgba(0, 0, 0, 0.8);
}

.tabs__content {
    padding: 0.5rem 1rem;
    line-height: 1.5;
}