<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs Component - Vanilla JS</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <main id="root">
        <article>
            <nav class="tabs__list">
                <div data-tab="0" class="tabs__list__item tabs__list__item--active" role="tab" aria-selected="true">
                    Tab1
                </div>
                <div data-tab="1" class="tabs__list__item " role="tab" aria-selected="false">
                    Tab2
                </div>
                <div data-tab="2" class="tabs__list__item " role="tab" aria-selected="false">
                    Tab3
                </div>
                <div data-tab="3" class="tabs__list__item " role="tab" aria-selected="false">
                    Tab4
                </div>
            </nav>
            <section class="tabs__content">
                <h1>Hello from content 1</h1>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software
                    like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
            </section>
        </article>
    </main>

</body>

</html>